{% extends "base.html" %}

{% block header %}
  <div class="headerText">Your configured product</div>
  <div class="progressBar"></div>
{% endblock header %}

{% block content %}

<br>
<form action="/wizard/download" method="GET">
  <input type="submit" value="Download configured product" 
       name="Submit" id="frm1_submit" />
</form>

<br>
<form action="/wizard/initialize" method="GET">
  <input type="submit" value="Configure new product" 
       name="Submit" id="frm2_submit" />
</form>

<br>
<button type="button" class="collapsible">Open result</button>
<div class="result">
  <pre id="json">{{form_data | pprint}}</pre>
</div>

<br>
<button type="button" class="collapsible">Open configuration history</button>
<div class="result">
  <br>
  <form action="/wizard/metadata" method="POST">
    {% csrf_token %}

  
    <label for="feature-list">Choose a configuration element:</label>
    <br>
    <select class="feature-list-class" name="feature-list" id="feature-list"> 
      {% for m in collapsable %}
          <option value="{{ m }}">{{ m }}</option>
      {% endfor %}
    </select>
    <br>
    <button type="submit">Submit</button>
  </form>
  <br>
  
  <div class="selected-md">History selected for feature {{selected_feature}}</div>
  <pre id="json-history"><code>{{history_selected}}</code></pre>
  <div class="selected-md">Metadata selected for feature {{selected_feature}}</div>
  <pre id="json-metamodel"><code>{{metadata_selected}}</code></pre>

  <button type="button" class="collapsible">Open full history</button>
  <div class="result">
    <pre id="json-history-full"><code>{{history}}</code></pre>
  </div>
  <button type="button" class="collapsible">Open full metamodel</button>
  <div class="result">
    <pre id="json-metamodel-full"><code>{{metadata}}</code></pre>
  </div>
</div>

<style>
  input {
    text-align: center;
    width: 300px;
    height: 40px;
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .selected-md {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .result {
    padding: 0 18px;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  input {
    margin-left: 1.5%;
  }

  .feature-list-class {
    width: 80%;
    height: 50px;
  }
</style>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

</script>
{% endblock %}
