{% extends "base.html" %}

{% block header %}
  <div class="headerText" style="width: 40%;float:left">Your configured product</div>
{% endblock header %}

{% block content %}

<br>
<form action="/wizard/download" method="get">
  <input type="submit" value="Download configured product" 
       name="Submit" id="frm1_submit" />
</form>

<br>
<form action="/wizard/initialize" method="get">
  <input type="submit" value="Configure new product" 
       name="Submit" id="frm1_submit" />
</form>

<br>
<button type="button" class="collapsible">Open result</button>
<div class="content">
  <pre id="json">{{form_data | pprint}}</pre>
</div>

<style>
  input {
    text-align: center;
    width: 300px;
    height: 40px;
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
</style>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

{% endblock %}