{% extends "base.html" %}
{% block content %}

<form action="" id="model" method="post" style="text-align: left;">
    {% csrf_token %}
    {{form.model_field}}
    <input type="submit" form="model" value="Submit model" />
</form>


<style>
  textarea {
    position: absolute;
    margin-top: 40px;
    width: 95%;
    left: 2%;
    height: 600px;
    font-size: 11pt;
  }
  input {
    position: absolute;
    margin-top: 680px;
    left: 2%;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 12pt;
  }

</style>
{% endblock %}