{% extends "base.html" %}
{% block content %}

<form action="" id="model" method="post" style="text-align: left;">
    {% csrf_token %}
    {{form.model_field}}
    <p>
      <input type="submit" form="model" value="Submit model" />
    </p>
</form>

<script>
  document.querySelector('#textarea').addEventListener('keydown', e => {
    if ( e.key === 'Tab' && !e.shiftKey ) {
      // execCommand operations are "Cmd|Ctrl+Z"-able
          // note: execCommand is deprecated and may not work in the future
      document.execCommand('insertText', false, "\t");
      e.preventDefault();
      return false;
    }
  }); 
</script>
<style>
  textarea {
    position: relative;
    margin-top: 40px;
    width: 96%;
    left: 2%;
    height: 600px;
    font-size: 11pt;
    tab-size: 4;
  }
  input {
    position: relative;
    margin-top: 20px;
    left: 2%;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 12pt;
  }

</style>
{% endblock %}
