{% extends "base.html" %}

{% block header %}
<div class="headerText">Your configured product</div>
<div class="progressBar"></div>
{% endblock header %}

{% block content %}

<br>
<form action="/wizard/download" method="get">
    <input type="submit" value="Download wfml json" name="Submit" id="frm1_submit" />
</form>

<br>
<form action="/wizard/get-pnmodel" method="get">
    <input type="submit" value="Download om file" name="Submit" id="frm1_submit" />
</form>

<br>
<form action="/wizard/pn-models/" method="get">
    <input type="submit" value="Configure new product" name="Submit" id="frm1_submit" />
</form>

<br>
<button type="button" class="collapsible">Open result</button>
<div class="result">
    <pre id="json">{{form_data | pprint}}</pre>
</div>

<style>
    input {
        text-align: center;
        width: 300px;
        height: 40px;
    }

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: #555;
    }

    .result {
        padding: 0 18px;
        width: 100%;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    input {
        margin-left: 1.5%;
    }
</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

{% endblock %}